test:
  name: certificate-benchmark-optimized
  description: 'Performance test for encrypted AES certificate lifecycle '
  workers:
    type: local
    number: 2
  rounds:
    - label: Issue Certificates
      description: Issuing new certificates (50 TPS for 30 seconds).
      txDuration: 30
      rateControl:
        type: fixed-rate
        opts:
          tps: 100
      workload:
        module: workload/issueCertificate.js

    - label: Verify a Certificate
      description: Verifying certificates (50 TPS for 30 seconds).
      txDuration: 30
      rateControl:
        type: fixed-rate
        opts:
          tps: 100
      workload:
        module: workload/verifyCertificate.js

    - label: Query All Certificates
      description: Browsing certificate records (50 TPS for 30 seconds).
      txDuration: 30
      rateControl:
        type: fixed-rate
        opts:
          tps: 100
      workload:
        module: workload/queryAllCertificates.js

    - label: Revoke Certificate
      description: Revoking certificates to test deletion performance (50 TPS for 30 seconds).
      txDuration: 30
      rateControl:
        type: fixed-rate
        opts:
          tps: 100
      workload:
        module: workload/revokeCertificate.js
